@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #b311c5 #f3f4f6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6e0b78, #b311c5);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6e0b78, #b311c5);
}
